/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1920px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 10px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #555555;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: .3s;
}

header a:hover {
    color: #fff;
    transform: scale(1.08);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .rodrigo-contato button {
    padding: 15px 45px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .rodrigo-contato button:hover {
    box-shadow: 0px 0px  12px #ffffffd5;
}

.interface .logo a img {
    width: 215px;
    height: 215px;
}